@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add custom animation below */
@layer utilities {
  @keyframes loader {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  .animate-loader {
    animation: loader 1.2s ease-in-out infinite;
  }
}
::-webkit-scrollbar {
  display: none;
}
