@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add custom animation below */
@layer utilities {
  /* @keyframes marquee {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(calc(-1 * var(--loop-dist, 0px)), 0, 0);
    }
  }
  .marquee {
    animation: marquee var(--speed, 30s) linear infinite;
    will-change: transform;
    backface-visibility: hidden;
  } */
}
::-webkit-scrollbar {
  display: none;
}
